.kawasaki {
    background-image: url("Kawasaki-logo.svg (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 250px;
    margin: 20px auto;
}

.background1 {
    background-color: white;
    height: 350px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-image: url("91af0e22-6cca-4d78-bf2f-60b705954411.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    background-image: url("Kawasaki-logo.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 250px;
    margin: 20px auto;
}

.background2 {
    background-color: white;
    height: 350px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-image: url("1679889499_kawasaki-ninja-zx-25rr-motor-sport-dengan-harga-terjangkau.avif");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.akhir {
    background-color: white;
    background-image: url("download.png");
    height: 500px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-size: 46%;
    background-repeat: no-repeat;
    background-position: center;
}
